<section class="about-me" id="about_me">
	<div class="wrap-box-about">
		<div class="about-me-photo">
			<h2 class="title-about">ABOUT <span class="me"> ME</span></h2>
			<!-- <img src="../img/about-me_img/mob-aboutme-2x.jpg" alt="my photo" class="my-photo"> -->
			<picture class="my-photo">
				<source srcset="../img/about-me_img/desk-aboutme-1x.jpg 1x, ../img/about-me_img/desk-aboutme-2x.jpg 2x"
					media="(min-width: 1280px)" />

				<source srcset="../img/about-me_img/tab-aboutme-1x.jpg 1x,
				../img/about-me_img/tab-aboutme-2x.jpg 2x," media="(min-width: 768px)" />

				<source srcset="../img/about-me_img/mob-aboutme-1x.jpg 1x,
				../img/about-me_img/mob-aboutme-2x.jpg 2x" media="(max-width: 767px)" />

				<img src="../img/about-me_img/desk-aboutme-1x.jpg" alt="my photo" width="384" height="448">
			</picture>
		</div>
		<div class="bio">
			<h3 class="classic-title">BIO</h3>
			<div class="text-wrap">
				<p class="text-style text-mod1">I'm Lloyd Jefferson, a talented programmer specializing in software
					development. My expertise spans various programming languages and technologies, and I am dedicated to
					continually enhancing my skills. I thrive on seeking unconventional and creative solutions to
					problems,
					leveraging a high level of analytical skills to effectively tackle even the most challenging tasks.
				</p>
				<p class="text-style text-mod2">Adaptable to both independent and team-oriented work, I collaborate
					seamlessly with
					colleagues, exchanging
					ideas and finding optimal solutions. My professional maturity enables me to navigate challenges and
					stressful situations with a calm demeanor, maintaining a consistently high quality of work. Committed
					to
					self-improvement, I actively engage in studying new technologies and practices to stay current with
					the
					latest innovations in the field.</p>
			</div>
		</div>
		<div class="content-wrap">
			<div class="education">
				<h3 class="classic-title">EDUCATION</h3>
				<ul class="education-list">

					<li class="text-style edu-role-mod">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
					</li>

					<li class="text-style edu-role-mod">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
						New
						York</li>
					<li class="text-style edu-role-mod">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
				</ul>
			</div>
			<div class="role">
				<h3 class="classic-title">ROLE</h3>
				<ul class="role-list">
					<li class="text-style edu-role-mod">Frontend development</li>
					<li class="text-style edu-role-mod">HeadlessCMS, Wordpress</li>
					<li class="text-style edu-role-mod">Blender (enjoy)</li>
				</ul>
			</div>
		</div>
	</div>
</section>