<section class="benefits container">

  <h2 class="benefits-h1"><span class="benefits-h1-span">BENEFITS </span>OF WORKING WITH ME</h2>


  <ul class="benefits-ul">

    <li class="empty-block"></li>

    <li class="benefits-li block1">
      <svg class="benefits-svg" style="width: 48px; height: 48px">
        <use class="benefits-svg-link" href="./img/symbol-defs.svg#icon-name"></use>
      </svg>

      <div class="benefits-li-text">
        <h4 class="benefits-li-h4">EXERTISE</h4>
        <p class="benefits-li-p">
          With extensive experience in development, I have a deep understanding of programming and website development.
        </p>
      </div>
    </li>

    <li class="benefits-li block2">
      <svg class="benefits-svg" style="width: 48px; height: 48px">
        <use class="benefits-svg-link" href="./img/symbol-defs.svg#icon-message"></use>
      </svg>

      <div class="benefits-li-text">
        <h4 class="benefits-li-h4">COMMUNICATION</h4>
        <p class="benefits-li-p">
          Understanding your needs and wants is my priority and I am always available for discussions and open to
          corrections.
        </p>
      </div>
    </li>

    <li class="benefits-li block3">
      <svg class="benefits-svg" style="width: 48px; height: 48px">
        <use class="benefits-svg-link" href="./img/symbol-defs.svg#icon-brush-01"></use>
      </svg>

      <div class="benefits-li-text">
        <h4 class="benefits-li-h4">ART</h4>
        <p class="benefits-li-p">
          Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.
        </p>
      </div>
    </li>

    <li class="benefits-li block4">
      <svg class="benefits-svg" style="width: 48px; height: 48px">
        <use class="benefits-svg-link" href="./img/symbol-defs.svg#icon-hourglass"></use>
      </svg>

      <div class="benefits-li-text">
        <h4 class="benefits-li-h4">URGENT EXECUTION</h4>
        <p class="benefits-li-p">
          I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality
          of work.
        </p>
      </div>
    </li>

  </ul>
</section>