<!DOCTYPE html>
<html lang="en">
  <title>footer</title>
  <footer>
    <div class="container-footer container">
      <div class="logo-head container">
        <p class="logo">Lloyd<span class="footer-logo">Jefferson.</span></p>
      </div>
      <ul class="social-list">
        <li>
          <a
            href=" https://www.instagram.com/goitclub/ "
            target="_blank"
            class="link"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com/goITclub/  "
            target="_blank"
            class="link"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it "
            target="_blank"
            class="link"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://github.com/illusion4044/MastersCode"
            target="_blank"
            class="link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="container">
      <p class="text">"© Copyright 2024. Made by LloydJefferson"</p>
    </div>
  </footer>
</html>
