<section class="section header-section">
  <div class="container header-container">
    <a href="index.html" class="header-logo"
      >Lloyd<span class="header-logo-green">Jefferson.</span></a
    >

   <div class="header-nav-wrapp">
   	 <div class="theme-switch-wrapper">
	      <label class="theme-switch" for="checkbox">
	        <input type="checkbox" id="checkbox" />
	        <div class="slider round">
	          <div class="moon"></div>
	        </div>
	      </label>
	    </div>
	
	    <button type="button" class="mob-menu-btn">
	      <svg width="22" height="16" class="open-menu-icon">
	        <use href="./img/symbol-defs.svg#icon-burger-mobile"></use>
	      </svg>
	    </button>
	    <nav class="header-nav">
	      <ul class="header-nav-list">
	        <li class="header-nav-item">
	          <a class="header-nav-link" href="#about_me">About me</a>
	        </li>
	        <li class="header-nav-item">
	          <a class="header-nav-link" href="#my_projects">Projects</a>
	        </li>
	        <li class="header-nav-item">
	          <a class="header-nav-link" href="#contacts">Contacts</a>
	        </li>
	      </ul>
	    </nav>
   </div>
  </div>
</section>
