<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-title-wrapper">
      <div class="hero-text-content">
        <h1 class="hero-title">
          Hello, I am
          <picture>
            <source
              srcset="
                ./img/hero_img/desk-hero-1x.jpg 1x,
                ./img/hero_img/desk-hero-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            /> 
            <img
              class="hero-img-main"
              src="./img/hero_img/desk-hero-1x.jpg"
              alt="Lloyd Jefferson's photo"
              width="108"
              height="108"
            />
          </picture>
          <br />
          <span class="hero-title-green">Fullstack developer</span>
        </h1>
      </div>
    </div>
    <div class="hero-content-wrapper">
      <div class="hero-btn-wrapper">
        <svg width="30" height="16" class="hero-btn-icon">
          <use href="./img/symbol-defs.svg#icon-Arrow-1"></use>
        </svg>
        <a class="hero-btn" href="#contacts">Order the project</a>
      </div>
      <div class="hero-btn-square"></div>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="hero-text-green">impressive</span> and
        <span class="hero-text-green">functional websites</span> that reflect
        each client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-social-list">
    <li class="hero-social-item">
      <a
        class="hero-social-link"
        target="_blank"
        href="https://www.instagram.com/goitclub/"
        >Instagram</a
      >
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link"
        target="_blank"
        href="https://www.youtube.com/c/GoIT/"
        >YouTube</a
      >
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link"
        target="_blank"
        href="https://www.facebook.com/goITclub/"
        >Facebook</a
      >
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link"
        target="_blank"
        href="https://illusion4044.github.io/MastersCode/"
        >GitHub</a
      >
    </li>
  </ul>
</section>
