<script type="module" src="../js/modal.js"></script>

<div class="modal-container is-open">
    <div class="modal-header">
        <a href="#" class="modal-logo">LloydJefferson.</a>
        <button type="button" class="modal-form-close">
            <img src="../img/SVG/close-button.svg" alt="close" width="16" height="16">
        </button>
    </div>
    <div class="modal-main">
        <ul class="modal-list">
            <li class="modal-item"><a href="#"> About me </a></li>
            <li class="modal-item"><a href="#"> Projects </a></li>
            <li class="modal-item"><a href="#"> Contacts </a></li>
        </ul>
    </div>
</div>

<div class="popup-container is-open">
    
</div>

