
<div class="modal-container is-open">
    <div class="modal-header">
        <a href="index.html" class="header-logo">Lloyd<span class="header-logo-green">Jefferson.</span></a>
        <button type="button" class="modal-form-close">
            <img src="../img/SVG/close-button.svg" alt="close" width="16" height="16">
        </button>
    </div>
    <div class="modal-main">
        <ul class="modal-list">
            <li class="modal-item"><a href="#aboutMe"> About me </a></li>
            <li class="modal-item"><a href="#projects"> Projects </a></li>
            <li class="modal-item"><a href="#contacts"> Contacts </a></li>
        </ul>
    </div>
</div>

