<div class="popup-container">
    <div class="popup-main">
        <button type="button" class="modal-close">
            <img src="../img/SVG/close-button.svg" alt="close" width="14" height="14">
        </button>
        <h2 class="modal-title">
            Thank you for your interest in cooperation!
        </h2>
        <p class="modal-text">
            The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.
        </p>
    </div>
</div>