<section class="reviews">
    <div class="container">
      <h2 class="reviews-header">Reviews</h2>
     <div class="swiper-container">
      <ul class="reviews-swiper">
        
      </ul>
      <div class="buttons">
        <div class="button-prev">
          <svg class="svg-prev" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>
        <div class="button-next">
          <svg class="svg-next" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>
      </div>
      
    </div>
   
  </section>

   <script src="../js/reviews.js" defer type="module"></script>