<section class="reviews ">
  <div class="container">
    <h3 class="reviews-header">REVIEWS</h3>

    <div class="swiper-container">
      <ul id="reviews-list" class="reviews-swiper swiper-wrapper">

      </ul>
      <div class="arrow-naw">
        <div class="button-prev swiper-button-prev">
          <svg class="icon-back" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>

        <div class="button-next swiper-button-next">
          <svg class="icon-next" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

