<section class="tech-skills">
	<h2 class="visually-hidden"></h2>
	<div class="marquee">
		<div class="marquee__inner green-cube">
			<p class="marquee__line"><span class="try-dot">HTML/CSS</span><span class="hidden-element"></span>
				JavaScript <span class="hidden-element"></span>
				React<span class="hidden-element"></span>Node. js<span class="hidden-element"></span>React Native<span
					class="hidden-element"></span>Typescript
			</p>
			<p class="marquee__line"><span class="try-dot">HTML/CSS</span><span class="hidden-element"></span> JavaScript
				<span class="hidden-element"></span>
				React<span class="hidden-element"></span>Node. js<span class="hidden-element"></span>React Native<span
					class="hidden-element"></span>Typescript
			</p>
		</div>
		<div class="rotate-wrap-container">
			<div class="marquee__inner black-cube">
				<p class="marquee__line color-mode"><span class="try-dot-black">HTML/CSS</span><span
						class="hidden-element-black"></span> JavaScript <span class="hidden-element-black"></span>
					React<span class="hidden-element"></span>Node. js<span class="hidden-element-black"></span>React
					Native<span class="hidden-element-black"></span>Typescript
				</p>
				<p class="marquee__line color-mode"><span class="try-dot-black">HTML/CSS</span><span
						class="hidden-element-black"></span> JavaScript <span class="hidden-element-black"></span>
					React<span class="hidden-element-black"></span>Node. js<span class="hidden-element-black"></span>React
					Native<span class="hidden-element-black"></span>Typescript
				</p>
			</div>
		</div>
	</div>

</section>