<section class="tech-skills">
	<h2 class="visually-hidden"></h2>
	<div class="marquee">
		<div class="marquee__inner green-cube">
			<p class="marquee__line"><span class="wrap">HTML/CSS</span> <span class="wrap">JavaScript</span> <span
					class="wrap"> React</span> <span class="wrap">Node. js</span> <span class="wrap">React Native</span>
				<span class="wrap">Typescript</span>
			</p>
			<p class="marquee__line"><span class="wrap">HTML/CSS</span> <span class="wrap">JavaScript</span> <span
					class="wrap">
					React</span> <span class="wrap">Node. js</span> <span class="wrap">React Native</span> <span
					class="wrap">Typescript</span>
			</p>
		</div>
		<div class="marquee__inner black-cube">
			<p class="marquee__line color-mode"><span class="wrap black-magic">HTML/CSS</span> <span
					class="wrap black-magic">JavaScript</span> <span class="wrap">
					React</span> <span class="wrap black-magic">Node. js</span> <span class="wrap black-magic">React
					Native</span> <span class="wrap black-magic">Typescript</span>
			</p>
			<p class="marquee__line color-mode"><span class="wrap black-magic">HTML/CSS</span> <span
					class="wrap black-magic">JavaScript</span> <span class="wrap black-magic">
					React</span> <span class="wrap black-magic">Node. js</span> <span class="wrap black-magic">React
					Native</span> <span class="wrap black-magic">Typescript</span>
			</p>
		</div>
	</div>

</section>