<section class="tech-skills">
	<div>
		<div class="marquee">
			<ul class="marquee__inner">
				<li class="marquee__line green-cube">HTML/CSS</li>
				<li class="marquee__line green-cube">JavaScript</li>
				<li class="marquee__line green-cube">React</li>
				<li class="marquee__line green-cube">Node. js</li>
				<li class="marquee__line green-cube">React Native</li>
				<li class="marquee__line green-cube">Typescript</li>
			</ul>
			<ul class="marquee__inner trn-mode">
				<li class="marquee__line color-mode black-cube">HTML/CSS</li>
				<li class="marquee__line color-mode black-cube">JavaScript</li>
				<li class="marquee__line color-mode black-cube">React</li>
				<li class="marquee__line color-mode black-cube">Node. js</li>
				<li class="marquee__line color-mode black-cube">React Native</li>
				<li class="marquee__line color-mode black-cube">Typescript</li>
			</ul>
		</div>
	</div>
</section>