<section class="contacts container" id="contacts">
  <h2 class="contacts-header">
    LET’S <span class="contacts-header-span">WORK TOGETHER</span>
  </h2>
  <img
    class="contacts-img"
    srcset="
      ../img/work-together_img/desk-decor-lets-1x.png,
      ../img/work-together_img/desk-decor-lets-2x.png
    "
    src="../img/work-together_img/desk-decor-lets-1x.png"
    alt="Decorative Image"
    width="336"
    height="260"
  />
  <div class="contacts-dekstop-container">
    <div class="contacts-dekstop-container-smallbox">
      <p class="contacts-text">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <div class="contacts-list-container">
            <svg class="contacts-list-link-icon" width="20" height="20">
              <use href="../img/symbol-defs.svg#icon-phone"></use>
            </svg>
            <a href="tel:+38 090 456 78 90" class="contacts-list-link"
              >+38 090 456 78 90</a
            >
          </div>
        </li>
        <li class="contacts-list-item">
          <div class="contacts-list-container">
            <svg class="contacts-list-link-icon" width="20" height="20">
              <use href="../img/symbol-defs.svg#icon-email"></use>
            </svg>
            <a href="mailto:lloydjefferson@gmail.com" class="contacts-list-link"
              >lloydjefferson@gmail.com</a
            >
          </div>
        </li>
        <li class="contacts-list-item">
          <div class="contacts-list-container">
            <svg class="contacts-list-link-icon" width="20" height="20">
              <use href="../img/symbol-defs.svg#icon-location"></use>
            </svg>
            <a
              href="https://www.google.com/maps/place/USA,+New+York"
              class="contacts-list-link"
            >
              USA, New York</a
            >
          </div>
        </li>
      </ul>
    </div>
    <form class="contacts-form" name="reviews" novalidate>
      <label class="contacts-label"
        ><input
          class="contacts-input"
          name="contacts-email"
          id="contacts-email"
          placeholder="Your email*"
          type="text"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <svg class="contacts-checkbox-icon" width="14" height="14">
          <use href="../img/symbol-defs.svg#icon-phone"></use>
        </svg>
        <span class="contacts-error-message">Invalid email, try again</span>
      </label>
      <label class="contacts-label"
        ><input
          class="contacts-input"
          name="conctacts-message"
          id="conctacts-message"
          placeholder="Message"
          type="text"
      /></label>
      <button type="submit" class="contacts-button">SEND MESSAGE</button>
    </form>
  </div>
</section>
