@media screen and (min-width: 320px) and (max-width: 767px) {
  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 0px 20px 80px 20px;
  }

  .benefits-ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .benefits-li {
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 1;
  }

  .empty-block {
    display: none;
  }

  .benefits-svg {
    display: block;
    border-radius: 8px;
    padding: 12px;
    stroke-width: 1px;
    stroke: #00b068;
    fill: transparent;
    background: rgba(0, 176, 104, 0.1);
  }

  .benefits-li-text {
    display: flex;
    flex-direction: column;
  }

  .benefits-h1 {
    font-family: Impact;
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.7999999523162842px;
    text-align: left;
  }

  .benefits-h1-span {
    color: rgba(0, 176, 104, 1);
  }

  .benefits-li-h4 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .benefits-li-p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    padding: 0px 32px 124px 32px;
  }
  .benefits-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: -16px 0px 0px 0px;
  }
  .empty-block {
    width: 336px;

    order: -1;
  }

  .benefits-h1 {
    font-family: Impact;
    font-size: 108px;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: 1.7999999523162842px;
    text-align: left;
  }
  .benefits-h1-span {
    color: rgba(0, 176, 104, 1);
  }
  .benefits-li {
    display: flex;
    flex-direction: column;
    width: 336px;
    gap: 16px;
    opacity: 1;
    border-radius: 16px 0px 0px 0px;
  }

  .benefits-svg {
    display: block;
    padding: 12px;
    border-radius: 8px;
    stroke-width: 1px;
    stroke: #00b068;
    fill: transparent;
    background: rgba(0, 176, 104, 0.1);
  }

  .benefits-li-h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .benefits-li-p {
    padding-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 32px 164px 32px;
  }
  .benefits-h1 {
    float: left;
    font-family: Impact;
    font-size: 108px;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: 1.7999999523162842px;
    text-align: left;
    width: 700px;
  }
  .benefits-h1-span {
    color: rgba(0, 176, 104, 1);
  }
  .benefits-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    margin: -90px 0px 0px 0px;
  }
  .empty-block {
    width: 768px;
    order: -1;
  }
  .benefits-li {
    width: 384px;
    border-radius: 16px;
    opacity: 0px;
  }

  .benefits-li-h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .benefits-svg {
    display: block;
    padding: 12px;
    border-radius: 8px;
    stroke-width: 1px;
    stroke: #00b068;
    fill: transparent;
    background: rgba(0, 176, 104, 0.1);
  }

  .benefits-li-p {
    padding-top: 16px;
  }
}
