.hero-section {
  padding-bottom: 80px;
}

.hero-container {
  padding-bottom: 72px;
  box-sizing: border-box;
  background: url('../img/basic-fone_img/mob-mod-decor-bg-1x.png') center/cover
    no-repeat;
  background-position: -3px 10px;
}

.hero-text-content {
  padding-top: 112px;
}

.hero-title {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero-title-green {
  color: #14c57c;
}

.hero-img-main {
  display: none;
  border-radius: 16px;
}

.hero-content-wrapper {
  position: relative;
}

.hero-btn-wrapper {
  position: absolute;
  left: 4px;
  max-width: 320px;
  height: 92px;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.hero-btn-icon {
  fill: #00b068;
  width: 30px;
  height: 16px;
  margin-right: 12px;
}

.hero-btn {
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-btn-square {
  margin-left: auto;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background-color: rgba(0, 176, 104, 0.2);
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-square:hover {
  background-color: rgba(0, 176, 104, 0.6);
}

.hero-btn-wrapper:hover + .hero-btn-square {
  background-color: rgba(0, 176, 104, 0.6);
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hero-text-green {
  color: #00b068;
}

.hero-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 32px 0 32px 0;
  background-color: #e4e5e6;
}

.hero-social-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

/* ============= Tablet ============= */

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 124px;
  }

  .hero-container {
    padding-bottom: 80px;
    background: url('../img/basic-fone_img/tab-basic-decor-bg-5-1x.png ')
      center/cover no-repeat;
    background-position: -3px center;
  }

  .hero-text-content {
    padding-top: 88px;
  }

  .hero-title {
    font-size: 136px;
    line-height: 1.15em;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }

  .hero-btn-wrapper {
    height: 96px;
  }

  .hero-btn-square {
    width: 261px;
    height: 96px;
    margin-left: 157px;
  }

  .hero-btn {
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
  }

  .hero-social-list {
    flex-direction: row;
    gap: 40px;
    padding: 40px 0 40px 0;
  }

  .hero-social-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
  }
}

/* ============= Desktop ============= */

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 164px;
  }

  .hero-container {
	 background: url('../img/basic-fone_img/desk-hero-top-bg.png') no-repeat;
    background-size: 356px 276px;
    background-position: right 20px top;
	 padding-bottom: 0;
  }

  .hero-text-content {
    padding-top: 168px;
    
  }

  .hero-title {
    margin-bottom: 0;
  }

  .hero-img-main {
    display: inline;
    border-radius: 16px;
    margin-left: 20px;
  }

  .hero-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	 padding-bottom: 132px;
	 padding-top: 80px;
	 background: url('../img/basic-fone_img/desk-hero-bottom-bg.png') no-repeat;
    background-size: 352px 265px;
    background-position: left 210px top;
  }

  .hero-btn-wrapper {
    left: 76px;
  }

  .hero-btn-square {
    margin-left: 230px;
  }

  .hero-btn {
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
  }

  .hero-text {
    max-width: 592px;
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
  }

  .hero-social-list {
    flex-direction: row;
    gap: 40px;
    padding: 40px 0 40px 0;
  }

  .hero-social-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
  }
}