
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20;
    background-color: #f0f0f0;
}

.is-open {
    display: flex;
}

.modal-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    max-width: 360px;
    box-sizing: border-box;
    width: 100%;
}

.modal-logo {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #292929; */
    text-decoration: none;
}

.modal-form-close {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #292929;
    padding: 0;
}

.modal-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    background: url('./img/basic-fone_img/mob-mod-decor-bg-1x.png') top/cover no-repeat;
}

@media (min-resolution: 192dpi) {
    .modal-main {
        background-image: url('./img/basic-fone_img/mob-mod-decor\ -bg1-2x.png');
    }
}

.modal-list {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal-item {
    text-align: center;
}

.modal-item a {
    text-decoration: none;
    /* color: #292929; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.modal-item a:hover,
.modal-item a:active,
.modal-item a:focus {
    color: #00b068;
}