.section-my-projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.my-projects-container {
  display: flex;
  flex-direction: column;
}

.my-projects-title {
  text-align: center;
  margin-bottom: 40px;
  /* color: #00b068; */
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.my-projects-span {
  /* color: #292929; */
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.projects-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-img {
  width: 320px;
  height: 184px;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray -6.253px 0px / 103.908% 100.692% no-repeat;
  margin-bottom: 12px;
}

.technologies {
  margin-bottom: 16px;
  /* color: var(--Black, #292929); */
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.visit-btn {
  position: relative;
  margin-bottom: 40px;
  margin-left: auto;
  width: 125px;
  height: 48px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--Light-grey, #e4e5e6);
  border: none;
  text-transform: uppercase;
  /* color: var(--Black, #292929); */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.visit-btn:hover {
  border-radius: 8px;
  background: #bbb;
}

.visit-icon {
  position: absolute;
  left: 77px;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
  stroke-width: 2px;
  stroke: var(--Accet-green, #00b068);
}

.title-btn-wrapper {
  width: 100%;
}

.more-btn {
  width: 165px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #292929; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.more-btn::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #00b068;
}

/* This hover does not work with the color commented */
.more-btn:hover {
  /* color: #00b068; */
}

.btn-is-hidden {
  display: none;
}

.my-project-title {
  margin-bottom: 16px;
  /* color: var(--Black, #292929); */
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* Tablet -------------------------------------------------*/

@media only screen and (min-width: 768px) {
  .section-my-projects {
    padding-bottom: 124px;
  }

  .my-projects-title {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 124px;
  }

  .my-projects-span {
    /* color: var(--Black, #292929); */
    font-size: 108px;
    line-height: 124px;
  }

  .project-img {
    width: 704px;
    height: 404px;
    border-radius: 24px;
    background: url(<path-to-image>) lightgray -13.757px 0px / 103.908% 100.692%
      no-repeat;
    margin-bottom: 16px;
  }

  .technologies {
    margin-bottom: 20px;
  }

  .my-project-title {
    font-size: 36px;
    line-height: 48px; /* 133.333% */
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .title-btn-wrapper {
    display: flex;
    /* align-items: center; */
    gap: 32px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .visit-btn {
    margin-bottom: 0;
  }
}

/* Desktop ---------------------------------------------------*/
@media only screen and (min-width: 1280px) {
  .section-my-projects {
    padding-bottom: 164px;
  }
  .my-projects-title {
    margin-bottom: 80px;
  }

  .project-img {
    width: 1008px;
    height: 578px;
    border-radius: 24px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }

  .title-btn-wrapper {
    width: 100%;
    gap: 120px;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}
