/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./popup-modal.css');
@import url('./logo.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./tech-skills.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');
@import url('./modal.css');
