*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.tech-skills {
min-width: 320px;
width: 100%;
height: 245px;
margin: 0 auto;
margin-bottom: 80px;
}

.marquee {
	overflow: hidden;
	font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: uppercase;
	background-color: #FFF;
	height: 245px;
 }
 
 .marquee__inner {
	display: flex;
	align-items: center;
justify-content: flex-start;
flex-direction: row;
	gap: 16px;
	padding: 32px 0px;
height: 104px;

 }

 .green-cube {
	background-color: #bcdfd1;
 }

 .black-cube {
background-color: #e4e5e6;
transform: rotate(2deg);
 }
 
 .marquee__line {
	flex-shrink: 0;
	margin: 0;
	padding: 10px 15px;
	min-width: 100%;
	white-space: nowrap;
	animation-name: marqueeLine;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #292929;
 
 }

 .color-mode {
color: #00b068;
 }
 
 .wrap::before {
		display: inline-block;
	 content: "";
	 border-radius: 2px;
 width: 8px;
 height: 8px;
 background: #00b068;
 transform: rotate(-180deg);
 margin: 8px;
 }

 .black-magic::before {
	background: #292929;

 }
 
 @keyframes marqueeLine {
	from {
	  transform: translateX(0);
	}
	
	to {
	  transform: translateX(-100%);
	}
 }

@media only screen and (min-width: 768px) {
	.tech-skills {
height: 282px;
margin-bottom: 124px;
	}

	.marquee__inner {
		padding: 40px 0px;
height: 128px;
	}
}

@media only screen and (min-width: 1280px) {
	.tech-skills {
margin-bottom: 164px;
	}

}