.contacts {
  position: relative;
  padding-bottom: 80px;
}
.contacts-header {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 40px;
  padding: 0px;
  width: 100%;
  z-index: 2;
}
.contacts-header-span {
  color: #00b068;
}
.contacts-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 32px;
  padding: 0px;
  width: 100%;
  z-index: 2;
}
.contacts-list {
  margin: 0 0 40px;
  padding: 0px;
  width: 100%;
}
.contacts-list-item {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.contacts-list-link {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.contacts-input:focus,
.contacts-input:active {
  border: none;
  outline: none;
}
.contacts-list-link-icon {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  stroke: #00b068;
  fill: none;
  align-items: center;
  align-items: center;
  margin-right: 18.25px;
}
.contacts-checkbox-icon-email,
.contacts-checkbox-icon-message {
  display: none;
  position: absolute;
  top: 17px;
  right: 17px;
  width: 14px;
  height: 14px;
  stroke-width: 1px;
  stroke: none;
  fill: #00b068;
  align-items: center;
  align-items: center;
  z-index: 2;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  z-index: 2;
}
.contacts-label {
  position: relative;
  z-index: 2;
}
.contacts-input {
  border-radius: 8px;
  padding: 12px 16px;
  height: 48px;
  background: #e4e5e6;
  border: none;
  width: 100%;
  z-index: 2;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #e4e5e6 inset !important;
  box-shadow: 0 0 0 1000px #e4e5e6 inset !important;
}
.contacts-error-message,
.contacts-error-email {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #e74a3b;
}
.contacts-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f0f0f0;
  border-radius: 8px;
  padding: 12px 24px;
  height: 48px;
  background: #00b068;
  border: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-button:hover {
  background: #009156;
}
.contacts-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}
.contacts-list-container {
  display: flex;
  align-items: center;
}
/*mobile*/
@media screen and (min-width: 359.98px) and (max-width: 767.98px) {
  .contacts-header,
  .contacts-text,
  .contacts-list,
  .contacts-form,
  .contacts-dekstop-container,
  .contacts-dekstop-container-smallbox {
    width: 320px;
  }
}
/*tablet*/
@media screen and (min-width: 767.98px) and (max-width: 1279.98px) {
  .contacts {
    padding-bottom: 124px;
  }
  .contacts-header {
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 515px; /*507*/
    margin: 0 0 60px;
    padding-top: 104px;
  }
  .contacts-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    width: 488px;
  }
  .contacts-list {
    display: flex;
    gap: 16px;
    margin: 0 0 60px;
  }
  .contacts-form {
    gap: 32px;
  }
  .contacts-dekstop-container,
  .contacts-dekstop-container-smallbox {
    width: 704px;
  }
  .contacts-label {
    width: 704px;
  }
  .contacts-input {
    width: 704px;
    height: 48px;
  }
  .contacts-button {
    padding: 12px 24px;
    width: 173px;
    height: 48px;
  }
  .contacts-img {
    display: block;
  }
}
@media screen and (min-width: 1279.98px) {
  .contacts {
    padding-bottom: 164px;
  }
  .contacts-header {
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 515px;
    margin: 0 0 80px;
    padding-top: 144px;
  }
  .contacts-text {
    width: 488px;
    margin: 0 0 120px;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }
  .contacts-dekstop-container {
    display: flex;
    flex-direction: row;
    gap: 136px;
  }
  .contacts-button {
    width: 173px;
  }
  .contacts-img {
    width: 526px;
    height: 408px;
    display: block;
  }
}
